<!DOCTYPE html>
<html>
  <head>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" charset="utf-8">
      listeners = [];

      // update table row with ID with state (NA, on, or off)
      function update_table(listener, state) {
        id = listener["id"];

        console.groupCollapsed(`update <${id}> to <${state}>`);
        console.log("listener", listener);
        console.log("state", state);
        console.groupEnd();

        let td = document.querySelector(`#${id} td[data-name=lastState]`);
        td.innerHTML = state;
        td.dataset.value = state;
      }

      var socket = io();
      socket.on("connect", function () {
        // socket.emit("my event", { data: "I'm connected!" });
      });
      socket.on("status-update", function (data) {
        listener = data[0];
        state = data[1];
        update_table(listener, state);
      });
    </script>
    <style>
      body {
        background-color: black;
        color: white;
      }
      a {
        color: pink;
      }
      td {
        padding: 0.25rem;
      }
      /* lastState cells */
      td:nth-child(2) {
        background-color: gray;
      }
      td[data-value="on"]:nth-child(2) {
        background-color: green;
      }
      td[data-value="off"]:nth-child(2) {
        background-color: coral;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Active listeners</h1>
      <p>
        <a href="/listeners.json">view json</a> · <a href="/">back to viz</a> ·
        <a href="https://github.com/sheffieldhackspace/space-state-visualiser"
          >view source</a
        >
      </p>
      <p>This does not auto-refresh like the space state page.</p>
    </header>
    <main>
      <table border="1">
        <thead>
          <tr>
            {% for col in colnames %}
            <th>{{ col }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for record in records %}
          <tr id="{{ record.id }}">
            {% for col in colnames %}
            <td data-name="{{ col }}" data-value="{{ record[col] }}">
              {{ record[col] }}
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
